<div class="container-fluid" style="padding:0px;">
    <div class="row" id="dialogContainer" style="min-height:720px; margin:0px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px;">
            <app-root>Loading...</app-root>
        </div>
    </div>
</div>